{{- $hookScriptsDir := print .chezmoi.sourceDir "/hooks" -}}
data:
  env_type: "{{ promptChoiceOnce . "env_type" "Select the environment type" (list "Personal" "Work") }}"

git:
  add: true

hooks:
  apply:
    post:
      script: "{{ $hookScriptsDir }}/apply_post.sh"
