# Bashrc extension for custom configs
# Should be sourced at the end of .bashrc

if which starship 2>&1 1>/dev/null; then
	eval "$(starship init bash)"
fi

# ===[ Environment ]===

export EDITOR=vim
export VISUAL=vim


# ===[ PATH exports for tools ]===

export PATH="/usr/local/texlive/2023/bin/x86_64-linux:$PATH"


# ===[ Aliases ]===

if command -v lf >/dev/null 2>&1; then
    lfcd () {
        cd "$(command lf -print-last-dir "$@")"
    }

    alias r=lfcd
elif command -v ranger >/dev/null 2>&1; then
    alias r='. ranger'
fi

{{- if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
alias fd='fdfind'
{{ end }}

alias gs='git status'
alias gch='git checkout'
alias ga='git add'
alias gco='git commit'
alias gcoa='git commit --amend'
alias gcp='git cherry-pick'
alias gri='git rebase -i --autosquash --update-refs'
alias tiga='tig --all'

{{- if eq .chezmoi.config.data.env_type "Work" }}
alias get-commit-hook='mkdir -p `git rev-parse --git-dir`/hooks/ && \
    curl -Lo `git rev-parse --git-dir`/hooks/commit-msg {{ .chezmoi.config.data.gerrit_server_url }}/tools/hooks/commit-msg && \
    chmod +x `git rev-parse --git-dir`/hooks/commit-msg'
{{- end }}

# Generate .pdf files for all .adoc files found recursively from the current directory
alias asciidoctor-pdf-recursive='for f in $(find . -name "*.adoc"); do asciidoctor-pdf --q $f 2> /dev/null; done'

# USB Serial ports
alias p0='picocom -b 115200 /dev/ttyUSB0'
alias p1='picocom -b 115200 /dev/ttyUSB1'


# ===[ Helper functions ]===

dtb2dts () {            
    dt="$(basename -s .dtb $1)"                                                            
    dtc -I dtb -O dts $dt.dtb -o $dt.dts
}
